@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Enterprise Encryption and Decryption</h1>
    <p>Enterprise level encryption and decryption without writing complex algorithms and managing keys.</p>
</div>
